QToolButton {
    background-color: #363636;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 2px;
}

QToolButton:hover {
    background-color: #363636;
    border: 1px solid #008cff;
    border-radius: 4px;
}
