# Exclude everything
/*

# Except for default project files
!/.github
!/assets
!/cmake
!/docs
!/libvura
!/scripts
!/src
!/tests
!.clang-format
!.editorconfig
!.gitmodules
!.gitignore
!.mailmap
!AUTHORS
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!COC.rst
!COMMITMENT
!CONTRIBUTING.md
!COPYING
!INSTALL
!README.md

# Exclude dependencies
!/deps/CMakeLists.txt

# Exclude installer files
!/installer/installer.iss
!/installer/vura.ico

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
